<div style="width: 100vw;">
    <table>
        <tr>
            <td>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, natus? Excepturi necessitatibus culpa suscipit earum libero itaque ipsam eos fuga! Autem accusamus accusantium sint quaerat officia repellat praesentium illum dolores?
            </td>
            <td>
                <body>
                    <input type="radio" name="position" checked />
                    <input type="radio" name="position" />
                    <input type="radio" name="position" />
                    <input type="radio" name="position" />
                    <input type="radio" name="position" />
                    <main id="carousel">
                      <div class="item"></div>
                      <div class="item"></div>
                      <div class="item"></div>
                      <div class="item"></div>
                      <div class="item"></div>
                    </main>
                  </body>
            </td>
        </tr>
    </table>
</div>
