<div style="width: 100vw;">
    <section>
        <body>
            <input type="radio" name="position" checked />
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            <main id="carousel">
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
            </main>
          </body>
    </section>

</div>


<table>

  <thead>
    <tr>
     <th>
      <img src="../../assets/imagenes/aircover.jpg.webp" width="250px" style="margin-left: 50px;" alt="">
      <br><br>
      <p style="margin-left: 20px; margin-right: 10px;">Todas las reservaciones incluyen protección gratuita en caso de que el anfitrión cancele, de que haya imprecisiones en el anuncio o de que surjan otros inconvenientes, como problemas al momento de la llegada.</p>
      <br>
      <p style="font-size: 30px; margin-left: 30px;">Acerca de este lugar</p>
      <p style="margin-left: 20px; margin-right: 10px;">Bonito apartamento con un salón muy acogedor, una gran terraza, una cocina equipada, dos dormitorios y un baño. La casa es muy luminosa gracias a los grandes ventanales. Se encuentra en una zona tranquila donde varios medios de transporte que lo conectan tanto con el centro de la ciudad en 15/20min como con el aeropuerto de Milán en 15 min.
        El departamento debe ser compartido conmigo. 
        No proporciono el desayuno. </p>







    </th>
     <th>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad magnam sit repudiandae accusamus laboriosam quae nostrum, tempora saepe laudantium nemo sequi officia veniam quidem provident alias corrupti ipsam adipisci voluptate!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae eum vel consectetur nulla cupiditate ad nobis nisi, necessitatibus minus dolorum, quisquam, omnis obcaecati culpa numquam quis adipisci asperiores doloribus eligendi?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et soluta numquam in necessitatibus. Distinctio eos temporibus consequuntur! At adipisci consectetur dolor enim ea quisquam, consequatur aliquid optio dolorem inventore excepturi.</p>
     </th>
  </thead>
</table>

